%p#notice= notice
%h1 Listing Movies
%table.table
  %thead
    %tr
      %th Title
      %th Hotness
      %th Image url
      %th Synopsis
      %th Rating
      %th Genre
      %th Director
      %th Runtime
      %th Release Date
      %th{:colspan => "3"}
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.hotness
        %td= image_tag movie.image_url, class: 'thumbnail'
        %td= movie.synopsis
        %td= movie.rating
        %td= movie.genre
        %td= movie.director
        %td= movie.runtime
        %td= movie.release_date
        %td= link_to 'Show', movie
        %td= link_to 'Edit', edit_movie_path(movie)
        %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }
%br
  = link_to 'New Movie', new_movie_path
