%p#notice= notice
%p
  %strong Title:
  = @movie.title
%p
  %strong Hotness:
  = @movie.hotness
%p
  %strong Image url:
  = image_tag @movie.image_url, class: 'thumbnail'
%p
  %strong Synopsis:
  = @movie.synopsis
%p
  %strong Rating:
  = @movie.rating
%p
  %strong Genre:
  = @movie.genre
%p
  %strong Director:
  = @movie.director
%p
  %strong Runtime:
  = @movie.runtime
%p
  %strong Release Date:
  - @movie.release_date
= link_to 'Edit', edit_movie_path(@movie)
|
\#{link_to 'Back', movies_path}